In [1]:
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

/home/gabriel/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [12]:
dataset = pd.read_csv("python_CART/survey_formatado_country_virgula_python.csv")

In [14]:
print ("Dataset Lenght:: ", len(dataset))
print ("Dataset Shape:: ", dataset.shape)

Dataset Lenght::  1250
Dataset Shape::  (1250, 29)

In [15]:
print ("Dataset:: ")
dataset.head()

Dataset::

,Timestamp,Age_,Age,Gender_,Gender,Continent_,Country,state,self_employed,family_history,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,treatment
0,27/08/2014 11:43,18|-28,18,M,Male,Europe,Netherlands,NaN,No,No,...,Somewhat difficult,Yes,Maybe,No,Some of them,No,No,No,No,No
1,27/08/2014 12:15,18|-28,18,M,something kinda male?,Eurasia,Russia,NaN,No,No,...,Somewhat easy,No,No,Yes,Yes,Yes,Yes,Don t know,No,No
2,27/08/2014 12:31,18|-28,18,M,Male,North America,United States,CT,No,No,...,Very easy,No,No,Some of them,No,No,No,Don t know,No,Yes
3,27/08/2014 14:10,18|-28,18,M,male,North America,United States,TX,No,No,...,Don t know,Yes,No,No,No,No,Maybe,Don t know,No,Yes
4,27/08/2014 14:11,18|-28,18,M,Male,North America,United States,WA,No,No,...,Very easy,No,No,Some of them,Some of them,No,Maybe,Yes,No,No

In [18]:
X = dataset.values[:, 0:27]
Y = dataset.values[:,28]

In [19]:
X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size = 0.3, random_state = 100)

In [20]:
clf_gini = DecisionTreeClassifier(criterion = "gini", random_state = 100,
                               max_depth=3, min_samples_leaf=5)
clf_gini.fit(X_train, y_train)

ValueError: could not convert string to float: 'Don t know'